{{!-- <nav class="navbar navbar-light">
    <div class="container">
    </div>
    <div class="container">
        <h6 class="text-warning">Ingese Correo y Mensaje para comenzar un chat</h6>
    </div>
</nav> --}}